dataflow.json
[
    {
        "id": "c8a585a4b1edcfb1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e58f3869fd58986",
        "type": "mqtt in",
        "z": "c8a585a4b1edcfb1",
        "name": "",
        "topic": "YOUR_TOPIC_HERE",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e2f55c5eaeeb3496",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "af161f600461f67d",
                "d75c1aa2f84bc295"
            ]
        ]
    },
    {
        "id": "af161f600461f67d",
        "type": "ui_gauge",
        "z": "c8a585a4b1edcfb1",
        "name": "",
        "group": "40189f2715b70d5a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "temperature",
        "format": "{{msg.payload.temperature | number:2}}°C",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "d75c1aa2f84bc295",
        "type": "ui_gauge",
        "z": "c8a585a4b1edcfb1",
        "name": "",
        "group": "40189f2715b70d5a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "humidity",
        "format": "{{msg.payload.humidity | number:2}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "e2f55c5eaeeb3496",
        "type": "mqtt-broker",
        "name": "",
        "broker": "YOUR_AWS_DEVICEDATA_ENDPOINT",
        "port": "8883",
        "tls": "b9706bb56b3765e9",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "40189f2715b70d5a",
        "type": "ui_group",
        "name": "Home",
        "tab": "864e63e2e55ff2ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "disabled": false,
        "hidden": false,
        "className": ""
    },
    {
        "id": "b9706bb56b3765e9",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "XXXXXXX-certificate.pem.crt",
        "keyname": "XXXXXXXX-private.pem.key",
        "caname": "AmazonRootCA1.cer",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "864e63e2e55ff2ef",
        "type": "ui_tab",
        "name": "Temperature and Humidity Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]